* { box-sizing: border-box; }

body {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    text-transform: uppercase;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
}

header.header {
    background-color: #0070af;
    color:white;
    display: flex;
    align-items: center;
}

img.logo {
    width: 140px;
    height: 44px;
}

nav.menu {
    display: flex;
    align-items: center; 
    width: 100%;
}

nav.menu a {
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;    
    display: inline-block;
    padding: 15px;
}

nav.menu a:hover {
    background-color: #5e97f6;
}

nav.menu .contas {
    margin-left:auto;
}

footer.footer {
    background-color:#E0E0E0;
    padding: 10px 5px;
    text-align: center;
}

main {
    padding: 0 10px;
}

h1.main {
    font-size: 1.8em;
    color:gray;
    text-align: center;
}
h1.main::after {
    background-color:blue; 
    content: '';
    display: block;
    margin: 0 auto;
    width: 172px;
    height: 8px;
}